
{% load i18n admin_urls %}

<style>

.inline-group h2 {
    margin-bottom: 16px;
    font-size: 14px;
    background: none;
    font-weight: bold;
}

.inline-related {
    padding: 10px;
    margin: 0 16px;
    background-color: #1c1c1c;
}

.inline-related .module {
    background-color: #1c1c1c;
}

.inline-related:not(:first-of-type) {
    margin-top: 30px;
    margin-bottom: 30px;
}

button.run-test {
    background-color: var(--message-success-bg);
}

button.run-test:hover {
    background-color: #005a17;
}

.django-ace-toolbar {
    background: var(--darkened-bg);
    border: none;
}

.django-ace-max_min {
    filter: invert(0.8);
}

.alert {
    opacity: .9;
    position: fixed;
    bottom: 8px;
    right: 8px;
    
    padding: 8px;

    max-width: 30vw;
    
    font-size: 14px;

    border-radius: 4px;
}
.alert.success {
    background-color: #008000d6;
}
.alert.failure {
    background-color: var(--delete-button-bg);
}
.alert-title {
    font-weight: bold;
}
.alert-message {
    word-wrap: nowrap;
    text-overflow: ellipsis;

    overflow: hidden;
}

</style>

<script>

    function showAlert(title, message) {}

    function runTestCase(event, endpoint, pk) {
        event.target.disabled = true

        const baseUrl = window.location.origin;

        const requestOptions = {
            "body": null,
            "method": "POST"
        }

        fetch(baseUrl + endpoint, requestOptions)
            .then(response => response.json())
            .then(result => {
                let bodyElement = document.getElementsByTagName("body")[0]

                let htmlAlert = ""

                if (result.status == "Pass") {
                    htmlAlert = `
                        <div id="alert" class="alert success">
                            <h1 class="alert-title">TestCase ${pk} - Success</h1>
                        </div>
                    `
                } else if (result.status == "Failure") {
                    htmlAlert = `
                        <div id="alert" class="alert failure">
                            <h1 class="alert-title">TestCase ${pk} - Failure</h1>
                            <p class="alert-message">${result.message}</p>
                        </div>
                    `
                } else if (result.status == "Error") {
                    htmlAlert = `
                        <div id="alert" class="alert failure">
                            <h1 class="alert-title">TestCase ${pk} - Error</h1>
                            <p class="alert-message">${result.message}</p>
                        </div>
                    `
                }

                bodyElement.insertAdjacentHTML("beforeend", htmlAlert);

                setTimeout(() => {
                    document.getElementById("alert").remove()
                }, 5000)

                event.target.disabled = false
            })
            .catch(error => {
                console.log(error)
                event.target.disabled = false
            });

    }

</script>

<div class="js-inline-admin-formset inline-group" id="{{ inline_admin_formset.formset.prefix }}-group" data-inline-type="stacked" data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
    <fieldset class="module {{ inline_admin_formset.classes }}">
        {% if inline_admin_formset.formset.max_num == 1 %}
        <h2>{{ inline_admin_formset.opts.verbose_name|capfirst }}</h2>
        {% else %}
        <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
        {% endif %}
        
        {{ inline_admin_formset.formset.management_form }}
        {{ inline_admin_formset.formset.non_form_errors }}
        
        {% for inline_admin_form in inline_admin_formset %}
            <h1></h1>
            <div class="inline-related{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if forloop.last and inline_admin_formset.has_add_permission %}empty{% else %}{{ forloop.counter0 }}{% endif %}">
                <h3>
                    <b>{{ inline_admin_formset.opts.verbose_name|capfirst }}:</b> <span class="inline_label">{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %} <a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" class="{{ inline_admin_formset.has_change_permission|yesno:'inlinechangelink,inlineviewlink' }}">{% if inline_admin_formset.has_change_permission %}{% translate "Change" %}{% else %}{% translate "View" %}{% endif %}</a>{% endif %}
                    {% else %}#{{ forloop.counter }}{% endif %}</span>
                    {% if inline_admin_form.show_url %}<a href="{{ inline_admin_form.absolute_url }}">{% translate "View on site" %}</a>{% endif %}
                    {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>{% endif %}
                </h3>
                {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
                {% for fieldset in inline_admin_form %}
                    {% include "admin/includes/fieldset.html" %}
                {% endfor %}
                {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                {% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}{% endif %}

                {% if inline_admin_form.original %}
                    <div style="width: 100%; display: flex; align-items: end; justify-content: end;">
                        <button onclick="runTestCase(event, '{% url 'run-testcase' inline_admin_form.original.pk %}', {{inline_admin_form.original.pk}})" form="none" class="button run-test" style="margin-top: 10px; padding: 10px 15px; width: 100%;">Rodar Testes</button>
                    </div>
                {% else %}

                {% endif %}
            </div>
        {% endfor %}
    </fieldset>
</div>
